/* 
https://qiita.com/dangoya/items/4176e8ef22e892570f4e
*/

.popupModal1 > input {
  /* ラジオボックス非表示 */
  display: none;
}
.popupModal1 > input:nth-child(1) + label {
  cursor: pointer;
}
.modalPopup2 {
  /* 初期設定 ポップアップ非表示 */
  display: none;
}

.popupModal1
  > input:nth-child(1):checked
  + label
  + input:nth-child(3)
  + label
  + input:nth-child(5)
  + label
  + .modalPopup2 {
  /* ラジオ１ チェックでポップアップ表示 */
  display: block;
  z-index: 998;
  position: fixed;
  width: 90%;
  height: 80%;
  border-radius: 20px;
  left: 50%;
  top: 40%;
  margin-top: 30px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 10px 20px;
  overflow: hidden;
}
/* PCのときはページの真ん中の600x600領域 */
/* @media (min-width: 768px) {
.popupModal1 > input:nth-child(1):checked + label + input:nth-child(3) + label + input:nth-child(5) + label + .modalPopup2{
         width: 600px;
         height: 600px;
         padding: 30px;

    }
.popupModal1 > input:nth-child(1):checked + label + input:nth-child(3) + label + input:nth-child(5) + label {
     left: 50% !important;
     top: 50% !important;
     margin-left: 270px !important;
     margin-top: -310px !important;
}
} */

.popupModal1
  > input:nth-child(1):checked
  + label
  + input:nth-child(3)
  + label
  + input:nth-child(5)
  + label
  + .modalPopup2
  > div {
  /* */
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.popupModal1
  > input:nth-child(1):checked
  + label
  + input:nth-child(3)
  + label
  + input:nth-child(5)
  + label
  + .modalPopup2
  > div
  > iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

.popupModal1
  > input:nth-child(1):checked
  + label
  + input:nth-child(3)
  + label
  + input:nth-child(5)
  + label
  + .modalPopup2
  > div
  > img {
  /* ポップアップの中の要素 */
  max-width: 100%;
}
.popupModal1 > input:nth-child(1) + label ~ label {
  display: none; /* ラジオ１ 以外のラベルを初期は非表示 */
}
.popupModal1 > input:nth-child(1):checked + label + input:nth-child(3) + label {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 997;
  text-indent: -999999px;
  overflow: hidden;
}
/* .popupModal1 > input:nth-child(1):checked + label + input:nth-child(3) + label + input:nth-child(5) + label {
    background: rgba(255, 255, 255, 0.5);
    display: inline-block;
    position: fixed;
    left: 10px;
    bottom: 20px;
    z-index: 999;
    width: 44pt;
    height: 44pt;
    font-size: 40px;
    border-radius: 50%;
    line-height: 44pt;
    text-align: center;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
} */

.popupModal1
  > input:nth-child(1)
  + label
  + input:nth-child(3):checked
  + label
  + input:nth-child(5)
  + label
  + .modalPopup2,
.popupModal1
  > input:nth-child(1)
  + label
  + input:nth-child(3)
  + label
  + input:nth-child(5):checked
  + label
  + .modalPopup2 {
  /* ラジオ２と３ どっちかチェックでポップアップ非表示 */
  display: none;
}

.modalPopup2 {
  animation: fadeIn 0s ease 0s 1 normal;
  -webkit-animation: fadeIn 0s ease 0s 1 normal;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.popupModal1 .modalTitle {
  padding-bottom: 0.5em;
  margin: 0.5em 0;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}
.popupModal1 .modalMain {
  color: #222;
  text-align: left;
  font-size: 14px;
  line-height: 1.8em;
}

.color-r {
  background-color: #ef9a9a;
}
.color-g {
  background-color: #a5d6a7;
}
.color-b {
  background-color: #90caf9;
}
.color-p {
  background-color: #ce93d8;
}
.color-s {
  background-color: #bdbdbd;
}
.color-y {
  background-color: #fff176;
}
.color-o {
  background-color: #ffcc80;
}
.color-c {
  background-color: #92653a;
  color: #fff;
}
.color-d {
  background-color: #424242;
  color: #fff;
}

.errMsg {
  background-color: black;
  color: #fff;
}

.nowrap {
  white-space: nowrap;
}

.now_place {
  background-color: #444;
  color: #fff;
}

.CodeMirror,
.CodeMirror-scroll {
  resize: both;
  overflow: auto !important;
}

.editor > div {
  overflow: hidden !important;
}

.cm-resize-frame {
  overflow: hidden; /* CM will manage its own scrollbars. */
  resize: both;

  height: 10em; /* A fixed initial height is required in Chrome both for the resize handle to appear and to not fall into a shrinking loop due to the neg. offset in cm_resize()! :-o */
  /* Optional... */
  border: 1px solid lightgrey;
  width: 20em;
}

.cm-s-panda-syntax {
  width: 100ex;
}

.CodeMirror-vscrollbar {
  z-index: 10;
}

.display-none {
  display: none;
}

/* .normal-table {
    border-collapse: collapse;
    border-spacing: 0;
    border: #222 solid 1px;
    border: 1;
} */

table.normal-table > thead > th {
  background-color: rgba(39, 33, 33);
  color: #eee;
}
table.normal-table > * {
  background: #eee;
}
.normal-table > tbody > tr:nth-child(odd) td {
  background: #fff;
}
/* table.normal-table> tbody > tr > td:nth-child(1) {
  background: rgb(105, 105, 104);
  color: #fff;
} */

.hide {
  display: none;
}

.CodeMirror-wrap > div > textarea {
  top: 0;
  height: 26px;
  min-height: 26px;
  margin-bottom: -26px;
}

#TL_table > * {
   border: outset 1px rgb(128, 128, 128);
}
#TL_table > * > * > * > *,
#TL_table > * > * > * {
  border: inset 1px rgb(128, 128, 128);
}

